body {
  width: 100%;
  min-height: 100vh;
  margin: 0;
}
.content{
    display: grid;
    height: 30%;
    width: 100%;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
}
.content h1{
    grid-row: 1;
    grid-column: 2;
    text-align: center;
}
.content ul{
    grid-row: 2;
    grid-column: 3;
}
.content img{
    grid-row: 1;
    grid-column: 3;
    width: 35%;
}
.content p.a{
    grid-row: 2;
    grid-column: 1;
}
.content .li44{
    grid-row: 2;
    grid-column: 2;
}
.content .ol{
    grid-row: 2;
    grid-column: 2;
}