body {
  width: 100%;
  min-height: 100vh;
  margin: 0;
  display: flex;
  flex-direction: column; 
  align-items: center;
}
.content{
    display: grid;
    height: 30%;
    width: 55%;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
}
.content a{
    grid-row: 1;
    grid-column: 2;
    text-align: center;
}
.content ul{
    grid-row: 2;
    grid-column: 3;
}
.content img{
    grid-row: 1;
    grid-column: 3;
    width: 35%;
}
.content p.a{
    grid-row: 2;
    grid-column: 1;
}
.content .li44{
    grid-row: 2;
    grid-column: 2;
}
.content .ol{
    grid-row: 2;
    grid-column: 2;
}
.ian{
    width: 60%;
    height: 50%;
    flex-grow: 1; 
}
a{
    color: #999;
    text-decoration: none;
    color: #505050;
}
.godot{
    width: 370px;
    height: 250px;
}
.bibliografia{
    width: 370px;
    height: 250px;
}
.propuestas{
    width: 370px;
    height: 250px;
}
.carpeta{
    width: 370px;
    height: 250px;
}